.IdeaIC2019.2/
.anaconda/
.android/
.atom/
.bundle/
.chromedriver-helper/
.condarc
.gem/
.gitconfig
.gnupg/
.guard_history
.ipynb_checkpoints/
.ipython/
.irb_history
.irbrc
.jupyter/
.m2/
.matplotlib/
.ngrok2/
.pgAdmin4.1590372639.addr
.pgAdmin4.1590372639.log
.pgAdmin4.startup.log
.rediscli_history
.spyder-py3/
.ssh/
.webdrivers/
3D Objects/
Anaconda3/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Google Drive/
IntelGraphicsProfiles/
Links/
Main/.tmp.drivedownload/
Main/Adobe_Photoshop_CC_2019.0.2/
Main/Books/
Main/CS/
Main/Cambridge/Bridge/
Main/Cambridge/CUMSA/
Main/Cambridge/CUSEAS/
Main/Cambridge/Delay Repay/
Main/Cambridge/Project Access/
Main/Cambridge/Reports/
Main/Cambridge/Travels/
Main/Cambridge/Year 1/
Main/Cambridge/Year 2/Accommodation licence.pdf
Main/Cambridge/Year 2/Downing Site Aerial View.jpg
Main/Cambridge/Year 2/Math/
Main/Cambridge/Year 2/Physics/.ipynb_checkpoints/
Main/Cambridge/Year 2/Physics/C++/.gitignore
Main/Cambridge/Year 2/Physics/OWO_Problem.ipynb
Main/Cambridge/examschedule.pdf
Main/Chess/
Main/Crypto/
Main/Intersting Chess/
Main/Jobs/
Main/Music/
Main/Phone photos/
Main/Projects/
Main/TransferNotes/
Main/Travels/
Main/eSignature.png
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT{1c3790b4-b8ad-11e8-aa21-e41d2d101530}.TM.blf
NTUSER.DAT{1c3790b4-b8ad-11e8-aa21-e41d2d101530}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{1c3790b4-b8ad-11e8-aa21-e41d2d101530}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Test.ipynb
Untitled.ipynb
Untitled1.ipynb
Videos/
_netrc
dump.rdb
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
temp/
.IdeaIC2019.2/
.anaconda/
.android/
.atom/
.bundle/
.chromedriver-helper/
.condarc
.gem/
.gitconfig
.gnupg/
.guard_history
.ipynb_checkpoints/
.ipython/
.irb_history
.irbrc
.jupyter/
.m2/
.matplotlib/
.ngrok2/
.pgAdmin4.1590372639.addr
.pgAdmin4.1590372639.log
.pgAdmin4.startup.log
.rediscli_history
.spyder-py3/
.ssh/
.webdrivers/
3D Objects/
Anaconda3/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Google Drive/
IntelGraphicsProfiles/
Links/
Main/.tmp.drivedownload/
Main/Adobe_Photoshop_CC_2019.0.2/
Main/Books/
Main/CS/
Main/Cambridge/Bridge/
Main/Cambridge/CUMSA/
Main/Cambridge/CUSEAS/
Main/Cambridge/Delay Repay/
Main/Cambridge/Project Access/
Main/Cambridge/Reports/
Main/Cambridge/Travels/
Main/Cambridge/Year 1/
Main/Cambridge/Year 2/Accommodation licence.pdf
Main/Cambridge/Year 2/Downing Site Aerial View.jpg
Main/Cambridge/Year 2/Math/
Main/Cambridge/Year 2/Physics/.ipynb_checkpoints/
Main/Cambridge/Year 2/Physics/C++/.gitignore
Main/Cambridge/Year 2/Physics/OWO_Problem.ipynb
Main/Cambridge/examschedule.pdf
Main/Chess/
Main/Crypto/
Main/Intersting Chess/
Main/Jobs/
Main/Music/
Main/Phone photos/
Main/Projects/
Main/TransferNotes/
Main/Travels/
Main/eSignature.png
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT{1c3790b4-b8ad-11e8-aa21-e41d2d101530}.TM.blf
NTUSER.DAT{1c3790b4-b8ad-11e8-aa21-e41d2d101530}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{1c3790b4-b8ad-11e8-aa21-e41d2d101530}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Test.ipynb
Untitled.ipynb
Untitled1.ipynb
Videos/
_netrc
dump.rdb
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
temp/
